In [26]:
a = "Python is best choice"
a.count('o')
a.find('b')
b = " "
c = b.join(a)
c
a.upper()
# b = "daffad "
# b.join("Adf")

'PYTHON IS BEST CHOICE'

In [63]:
a = "Python is best choice"
a.replace('is', 'is not')

AttributeError: 'str' object has no attribute 'sort'

In [32]:
a = "a:b:c:d"
a.split(':')
'hi' in a

False

In [51]:
chr(97) == 'a'
ord('a') == 97

True

In [60]:
a = [ 1, 2, 3, ['a', 'b', 'c']]   # 중첩으로 리스트를 선언할 수 있고 이는 a[3][0]으로 접근
a[:4] 
a + [ 4, 5, 6 ] 
a * 2  
a[2]

3

In [75]:
a = [ 1, 2, 3, ['a', 'b', 'c']]
del a[3]
a

[1, 2, 3]

In [76]:
a.append(4)
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [81]:
a = [4,1,2,8,4,1]
a.sort()
a.reverse()
a

[8, 4, 4, 2, 1, 1]

In [85]:
a =[1, 2, 3, 4, [5, 6]]
# a.insert(0,7)
# a.extend([8,9])
a.insert(0,[2,4])
a

[[2, 4], 1, 2, 3, 4, [5, 6]]

In [89]:
a = [7, 1, 2, 3, 4, [5, 6], 8, 9]
a.pop()
a

[7, 1, 2, 3, 4, [5, 6], 8]

In [2]:
dic = { 'name': 'juhi', 'phone': '01023199766', 'birth': '980909'}
dic['name']
dic['height'] = 160
dic
dic.keys()
dic.values()

dict_values(['juhi', '01023199766', '980909', 160])

In [4]:
for k in dic.values():
	print(k)

juhi
01023199766
980909
160

In [7]:
dic.items()
dic.get('name')  
dic.get('width', 45)

45

In [20]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2
s1 | s2
s1.union(s2)
s2 - s1             # {1, 2, 3, 4, 5, 6, 7, 8, 9}
# s1.difference(s2)        # {1, 2, 3, 4, 5, 6, 7, 8, 9}
# s2.difference(s1) 
s1.add(7)                # 값 하나 추가 
s1
s1.update([8,9,10])
s1
s1.remove(3)
s1
s1 in s2
len(s1)
dic = {1: "dfa"}
len(dic)

1

In [18]:
treeHit = 0
while treeHit < 10:
	treeHit += 1
	print("나무를 %d번 찍습니다." %treeHit)
	if treeHit == 10:
		print("나무 넘어감")

나무를 1번 찍습니다.
나무를 2번 찍습니다.
나무를 3번 찍습니다.
나무를 4번 찍습니다.
나무를 5번 찍습니다.
나무를 6번 찍습니다.
나무를 7번 찍습니다.
나무를 8번 찍습니다.
나무를 9번 찍습니다.
나무를 10번 찍습니다.
나무 넘어감

In [22]:
22*7000

154000

In [26]:
list = [1,2,3]
for i in list:
    print(i)

1
2
3

In [28]:
a =range(1,11)
# range(0,10)
a

range(1, 11)

In [2]:
def func(*arg):
	for i in arg:
		print(i)
func(1,2,3)

1
2
3

이거는 주의해!