## 1012 실수 입력받아서 그대로 출력하기(float)

In [8]:
a = input()
b = float(a)
print(type(b))
print("%.3f"%b)

1.23
<class 'float'>
1.230

In [2]:
# 실수를 입력받아서 출력하기 (1.54 -> 1.540000으로 출력해야함)
# 파이썬에서는 float으로 형변환을 해도 뒤에 0000이 붙에서 출력되진 않는다 -> 포맷팅을 이용해야함 
a = input()
b = float(a)
print("%f"%b)

1.434343
<class 'float'>
1.434343


## 1013, 1014 띄어쓰기로 구분된 두개 입력받아서 출력하기

In [5]:
a = input()
b = a.split(' ')
print(b[0], b[1])

1 2
1 2

In [6]:
a = input()
b = a.split(' ')
print(b[1], b[0])

a B
B a

## 1015 실수 입력받아서 반올림하기

In [11]:
f = input()
f = float(f)
print("%.2f"%f)

3.556
3.56

In [18]:
a = input()
print(a, a, a)

125
125 125 125

In [20]:
print(input())

1:3
1:3

## 1019 ***2015.3.3입력받아서 2015.03.03으로 출력하기

In [41]:
date = input()
intList = [int(x) for x in date.split('.')]
print("%04d.%02d.%02d"%(intList[0],intList[1],intList[2]))

20.2.2
0020.02.02

In [45]:
# []리스트 안에서 for문을 사용할 수 있으며 아래와 같이 리스트의 원소로 묶인다.
# [함수(x) for x in 리스트] -> 리스트의 각 원소들을 함수의 원소로 넣은 결과 값이 저장된 리스트 생성
[int(x) for x in range(0,3)]
[str(x) for x in range(0,3)]

['0', '1', '2']

In [2]:
a = input()
print(a.replace('-',''))

3-3

'33'

## 1023 ***float 정수부분, 실수부분 따로 출력하기

In [20]:
a,b=input().split('.')

print(int(a))
print(int(b))

3.4
3
4

## 1024 단어 한개 입력받아서 알파벳 하니씩 출력

In [3]:
a = input()
for i in a :
    print("'%s'"%i)

da
'd'
'a'

## 1025 정수 입력해서 자릿수 별로 출력

In [14]:
a = input()
j = 4
for i in a:
    print("[%d]"%(int(i)*(10**j)))
    j -=1

54321
[50000]
[4000]
[300]
[20]
[1]

In [20]:
a,b,c = input().split(':')
print(int(b))

4:3:2
3

In [21]:
a,b,c = input().split('.')
print("%02d-%02d-%04d"%(int(c), int(b), int(a)))

2014.07.15
15-07-2014

## ***1029 실수 그대로 출력하기

In [4]:
a = float(input())
print("%.11f"%a)

123456.123123
123456.12312300000

In [9]:
a = int(input())
print("%o"%a)
print("%x"%a)

10
12
a

In [14]:
a = int(input())
result = "%x"%a
print(result.upper())

1234
4d2
4D2

## 1008 유니코드 출력하기

In [24]:
print('\u250C\u252C\u2510')
print('\u251C\u253C\u2524')
print('\u2514\u2534\u2518')

250C┬┐
├┼┤
└┴┘

## 1034, 1035 ***8진수, 16진수 입력받아서 10진수로 출력

In [42]:
a = int(input(), 8) 
print(a)

1
1

In [45]:
a = int(input(), 16)
print("%o"%a)

f
17

In [50]:
a = 3
b = 3
print(a,b)

3 3

In [63]:
a = input()
# print(ord(a))
print(chr(int(a)))

78
N

In [70]:
a, b = input().split(' ')
a = int(a)
b = int(b)
print(a+b)

2147483648 2147483648
4294967296

In [71]:
a = input()
print(-int(a))

2
-2

In [1]:
a = input()
b = ord(a)+1
print(chr(b))

a
98
b

## 1042, 1043 몫과 나머지

In [7]:
a, b = input().split(' ')
a = int(a)
b = int(b)
print(a//b)
print(a%b)

2 3
0
0

In [16]:
a, b = input().split(' ')
a = int(a)
b = int(b)
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print("%.2f"%(a/b))

10 3
13
7
30
3
1
3.33

In [19]:
a, b, c = input().split(' ')
a = int(a)
b = int(b)
c = int(c)
print(a+b+c)
print("%.1f"%((a+b+c)/3))

1 2 3
6
2.0

## 1047 비트연산자

In [27]:
a,b = input().split(' ')
a = int(a)
b = int(b)
print(a<<b)

1 3
8

In [35]:
a,b = input().split(' ')
a = int(a)
b = int(b)
print(int(a!=b))

SyntaxError: invalid syntax (<ipython-input-35-9180c897eb7f>, line 4)

In [5]:
a = input()
a = int(a)
print(int(not(a)))

0
1

In [18]:
a, b = input().split(' ')
a = int(a)
b = int(b)
# print(a*b)
# print(a or b)
# print(int(a==b))
result = not(a or b)
print(int(result))

0 0
1

## 1060 비트 단위 연산

In [11]:
a, b = input().split(' ')
a = int(a)
b = int(b)
# print(a & b)
# print(a | b)
print(a ^ b)

3 5
6

## 1063 삼항 연산

In [14]:
a, b = input().split(' ')
a = int(a)
b = int(b)
print(a if a > b else b)

1 3
3

In [20]:
a, b, c = input().split(' ')
a = int(a)
b = int(b)
c = int(c)
res = a if a < b else b
res = res if res < c else c 
print(res)

1 2 3
1

In [23]:
a, b, c = input().split(' ')
a = int(a)
b = int(b)
c = int(c)
if a % 2 == 0:
    print(a)
if b % 2 == 0:
    print(b)
if c % 2 == 0:
    print(c)

1 2 3
2

In [27]:
x = input()
if int(x)%2 == 0:
    if int(x) > 0:
        print("plus")
    else:
        print("minus")
    print("even")
else:
    if int(x) > 0:
        print("plus")
    else:
        print("minus")
    print("odd")

2
plus
even

In [31]:
x = input()

if x == 'A':
    print('best!!!')
elif x == 'B':
    print('good!!')
elif x == 'C':
    print('run!')
elif x == 'D':
    print('slowly~')
else:
    print('what?')

A
best!!!

In [33]:
x = input()
x = int(x)

if x==1 or x==2 or x==12:
    print('winter')
elif x==3 or x==4 or x==5:
    print('spring')
elif x==6 or x==7 or x==8:
    print('summer')
elif x==9 or x==10 or x==11:
    print('fall')

6
summer

In [38]:
x = input().split(' ')
for i in x:
    if i != '0':
        print(i)
    else:
        break

7 4 2 3 0 1 5 6 9 10 8
7
4
2
3

In [42]:
x = input()
a = input().split(' ')
for i in range(0, int(x)):
    print(a[i])

5
1 2 3 4 5
1
2
3
4
5

In [7]:
x = input()
x = int(x)
for i in range(0, x+1):
    print(i)

4
0
1
2
3
4

In [4]:
x = input()
for i in range(97, ord(x)+1):
    print(chr(i))

f
a
b
c
d
e
f

In [9]:
x = input()
x = int(x)
res = 0
for i in range(1, x+1):
    if i%2 == 0:
        res +=i
print(res)

5
6

In [3]:
x = input().split(' ')
for i in x:
    if i!= 'q':
        print(i)
    else:
        print(i)
        break;

x b k d l q g a c
x
b
k
d
l
q

In [ ]:
# a = input()
a = int(a)
sum = 0
i = 0
while sum< a:
    i+=1
    sum = i+sum
print(i)

In [1]:
a,b=input().split(' ')
a, b = int(a), int(b)
for i in range(1, a+1):
    for j in range(1, b+1):
        print(i, j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [ ]:
a,b=input().split(' ')
a, b = int(a), int(b)
for i in range(1, a+1):
    for j in range(1, b+1):
        print(i, j)

In [8]:
a = input()
a = int(a , 16)
for i in range(1, 16):
    print("%X*%X=%X"%(a,i,a*i))

B
11
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [13]:
a = input()
a = int(a)
for i in range(1, a+1):
    if i == 3 or i ==6 or i ==9:
        print("X", end = ' ')
    else:
        print(i, end = ' ')

10
1 2 X 4 5 X 7 8 X 10

In [19]:
a,b,c=input().split(' ')
a, b,c = int(a), int(b), int(c)
cnt = 0
for i in range(0, a):
    for j in range(0, b):
        for k in range(0, c):
            cnt +=1
            print(i, j, k)
            
            
print(cnt)

5 5 5
0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
4 0 0
4 0 1
4 0 2
4 0 3
4 0 4
4 1 0
4 1 1
4 1 2
4 1 3
4 1 4
4 2 0
4 2 1
4 2 2
4 2 3
4 2 4
4 3 0
4 3 1
4 3 2
4 3 3
4 3 4
4 4 0
4 4 1
4 4 2
4 4 3
4 4 4
125

In [32]:
a, b, c, d = input().split(' ')
a, b, c, d = int(a), int(b), int(c), int(d)
total = (a*b*c*d/8)/1024**2
print("%.1f MB"%total)

44100 16 2 10
1.7 MB

In [39]:
a, b, c = input().split(' ')
a, b, c= int(a), int(b), int(c)
total = (a*b*c*d/8)/1024
total = total/10240
print("%.2f MB"%total)

1024 768 24
2.25 MB

In [41]:
a = input()
a = int(a)
sum = 0
i = 0
while sum< a:
    i+=1
    sum = i+sum
print(sum)

57
66

In [44]:
a = input()
a = int(a)
for i in range(1, a+1):
    if i%3 !=0:
        print(i, end = ' ')

10
1 2 4 5 7 8 10

In [47]:
a, b, c = input().split(' ')
a, b, c= int(a), int(b), int(c)
sum = a
for i in range(0, c-1):
    sum +=b
print(sum)

1 3 5
13

In [48]:
a, b, c = input().split(' ')
a, b, c= int(a), int(b), int(c)
sum = a
for i in range(0, c-1):
    sum *=b
print(sum)

2 3 7
1458

In [50]:
a, b, c, d = input().split(' ')
a, b, c, d= int(a), int(b), int(c), int(d)
sum = a
for i in range(0, d-1):
    sum *=b
    sum +=c
print(sum)

1 -2 1 8
-85

In [ ]:
a, b, c = input().split(' ')
a, b, c= int(a), int(b), int(c)
res = 1
while res%a!=0 or res%b!=0 or res%c!=0:
    res += i
    i +=1
print(res)